.test-example {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.test-example:last-child {
    margin-bottom: 0;
}

.test-example-title {
    padding: 20px 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #ccc;
}

.test-example-content {
    padding: 20px;
}

.test-example-code pre {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
.test-example-code pre code {
    padding: 20px;
    border: none;
    border-top: 1px solid #eee;
    background: #fafafa;
}